body {
    font-family: 'Open Sans';
    scroll-behavior: smooth;
    color: rgb(150,150,150)
}

.details h3{
    font-weight:600;
    font-size:1em;
    color:#000;
}

h4 span {
    font-size: 12px; 
}

.sticky {
    position: sticky;
    top: 30px;
}

.social{
    /*float: left;*/
    padding-bottom: 2em;
    padding-top: 1em;
    font-size: 1em;
}

.sidebar{
    /*float: left;*/
    padding-bottom: 2em;
    padding-top: 1em;
    font-size: 1em;
}

.image{
    width: 85%;
    max-width: 220px;
}

.column{
    display: flex;
    align-items: center;
}

.anchor {
    position: relative;
    right: -5px;
    top: 30%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    text-decoration: none;
    color: #0366d6;
    font-size: 0.9em;
}

h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor {
    opacity: 1;
}

a:link { color: rgb(0, 0, 100);text-decoration: none; }
a:hover { color: rgb(200, 0, 0) }
a:active { color: rgb(255, 0, 102) }
a:visited{color: rgb(0, 0, 100)}